body{
    background-color:white;
    text-align:center;
  }
  h1{
    text-align:center;
    color:black
  }
  #album{
    border-bottom:3px solid #6578aa;
    padding:2px;
    height:400px;
    width:400px;
  }